# Universal config for text editors
# https://EditorConfig.org

# top-most EditorConfig file
# Set to true to stop .editorconfig files search on current file.
root = true

[*]
insert_final_newline = true
charset = utf-8

[{Makefile, Makefile.*, *.mk}]
indent_style = tab
indent_size = 4

[{*.py, *.pyi}]
indent_style = space
indent_size = 4
max_line_length = 120
# PyCharm: With ij_continuation_indent_size python formatting adds additional indentation for function arguments.
# So they are not aligned at the same level as function code.
ij_continuation_indent_size = 8
ij_python_blank_lines_after_local_imports = 1
ij_python_blank_lines_after_imports = 2
ij_python_from_import_new_line_after_left_parenthesis = true
ij_python_from_import_new_line_before_right_parenthesis = true
ij_python_from_import_parentheses_force_if_multiline = true
ij_python_from_import_trailing_comma_if_multiline = true
ij_python_optimize_imports_case_insensitive_order = true
ij_python_optimize_imports_sort_names_in_from_imports = true
ij_python_use_continuation_indent_for_arguments = false
ij_python_use_continuation_indent_for_collection_and_comprehensions = false

[{*.yml, *.yaml}]
indent_style = space
indent_size = 2
max_line_length = 120
end_of_line = lf
ij_yaml_spaces_within_brackets = true
ij_yaml_block_mapping_on_new_line = true

[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

[*.md]
indent_style = space
indent_size = 4
max_line_length = 140

[*.html]
indent_style = space
indent_size = 2
max_line_length = 200
# Empty list of tags:
ij_html_do_not_indent_children_of_tags =
ij_html_space_inside_empty_tag = true

[*.css]
indent_style = space
indent_size = 2
