# testing helpers
# ======================
dataclasses-json==0.5.7
flake8==4.0.1
mypy==0.960
numpy==1.21.6
pylint==2.13.9
pytest==7.1.2
requests==2.31.0
types-requests==2.27.29

# web servers
# ======================
Paste==3.5.0
tornado==6.1
Twisted==22.4.0
waitress==2.1.1
